---
---

@import "{{ site.theme }}";

.inner {
    width: 70%;
}

body {
    color: #444444;
}

p {
    font-weight: normal;
}

table {
    margin-top: 15px;
    margin-bottom: 15px;
}
thead {
    background: #c7c7c7;
}
th {
    padding: 10px;
}
td {
    padding: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
