---
---

@import "{{ site.theme }}";

.inner {
    width: 70%;
}

body {
    color: #444444;
    text-shadow: none;
}

p {
    font-weight: normal;
}

table {
    margin-top: 15px;
    margin-bottom: 15px;
}
thead {
    background: #c7c7c7;
}
th {
    padding: 10px;
}
td {
    padding: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul, ol, dl {
    margin-left: 20px;
}

/* Terminal */
.console {
  font-family: 'Fira Mono';
  box-sizing: border-box;
  margin: auto;
}

.console header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #555;
  line-height: 45px;
  text-align: center;
  color: #DDD;
  padding-top: 0;
  padding-bottom: 0;
}

.console .consolebody {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  overflow: scroll;
  background-color: #000;
  color: #63de00;
}

.console p {
  line-height: 1.5rem;
  margin-bottom: 0px;
}

.console .consolebody p:before {
    content: "$  ";
}
